---
layout: standard

title: Empresa
---

<p>
	Electro Redes ha sido creada en 1999 con el fin de satisfacer, de modo
	integral, las necesidades de las empresas distribuidoras y cooperativas en lo
	que respecta a la construcción de nuevas obras y mantenimiento de redes
	eléctricas y de telecomunicaciones.
	La empresa cuenta con {{ site.time | date: '%Y' | minus:1999 }} años de
	experiencia, una infraestructura acorde a la tarea y con personal capacitado
	en los diferentes aspectos que abarca su accionar: ingeniería, construcción y
	mantenimiento.
</p>
<p>
	Está formada por un equipo de trabajo calificado y comprometido con las
	necesidades de sus clientes: 2 ingenieros proyectistas, ingeniero asesor en
	seguridad e higiene en el trabajo, capataz y personal con amplia
	experiencia.
</p>
<p>
	Dispone de un moderno equipamiento: tres camiones con hidrogrúas de 10, 20 y
	21TNM y semirremolque, retroexcavadora con zanjadora y dos camionetas doble
	cabina. En los móviles se dispone de todos los elementos necesarios para
	trabajos en líneas de media tensión, con las medidas de seguridad necesarias.
	También cuenta con instrumentos calibrados para mediciones de energía, de
	cables, transformadores, puestas a tierra y fibra óptica. (meghómetro,
	telurímetro, secuencímetro, analizador de redes eléctricas, termografía, OTDR,
	fusionadora de fibra, dinamómetro 5Tn, etc.).
</p>
<p>
	En lo que respecta a ingeniería se realizan proyectos, dirección,
	representación técnica y construcción de líneas de media y baja tensión aérea
	y subterráneas, fibra óptica o proyectos de generación distribuida.
</p>

<h2>Datos</h2>

<p>
	Electro Redes S.R.L.<br />
	Domicilio legal: Entre Ríos 344 - (CP 2677) Ucacha, Córdoba<br />
	Responsable inscripto - CUIT 30-66887151-4<br />
	Nº inscripción ingresos brutos: 208072609<br />
</p>

<h2 id="galeria">Galería</h2>

{% include galeria.html %}

<h3>Servicios eléctricos</h3>

{% include galeria_electricos.html %}

<h3>Energías renovables</h3>

{% include galeria_renovables.html %}

<h3>Telecomunicaciones</h3>

{% include galeria_telecomunicaciones.html %}

<h3>Grúa y transporte</h3>

{% include galeria_grua.html %}

<h3>Construcción, zanjeos y colocación de ductos</h3>

{% include galeria_construccion.html %}

<h3>Más imágenes</h3>

<div id="instagram-galeria">

	<a id="boton-instagram-galeria" class="boton_info" href="https://instagram.com/electro.redes">
		<img id="logo-instagram" src="/imagenes/instagram_white.png" alt="Logotipo de Instagram" \>
		Síguenos en Instagram
	</a>
</div>

