<nav>
	<ul>
		<li {% if page.name == 'electricos.html' %}class='current'{% endif %}>
			<a href="/servicios/electricos.html">Servicios eléctricos</a>
		</li>
		<li {% if page.name == 'renovables.html' %}class='current'{% endif %}>
			<a href="/servicios/renovables.html">Energías renovables</a>
		</li>
		<li {% if page.name == 'telecomunicaciones.html' %}class='current'{% endif %}>
			<a href="/servicios/telecomunicaciones.html">Telecomunicaciones</a>
		</li>
		<li {% if page.name == 'grua.html' %}class='current'{% endif %}>
			<a href="/servicios/grua.html">Grúa y transporte</a>
		</li>
	</ul>
</nav>
