<section id="grid_servicios" class="grid_hor_2">
	<div>
		<header>
			<h2>Servicios eléctricos</h2>
		</header>
		<img src="/imagenes/servicios/electricos.jpg" alt="Servicios eléctricos" />
		<p>Realización de proyectos y presupuestos para satisfacer las necesidades
		de nuestros clientes. Construcción y mantenimiento de subestaciones
		transformadoras y líneas de energía eléctrica aéreas o subterráneas.</p>
		<a class="boton_info" href="/servicios/electricos.html">Más información</a>
	</div>
	<div class="renovables">
		<header>
			<h2>Energías renovables</h2>
		</header>
		<img src="/imagenes/servicios/renovables.jpg" alt="Energías renovables" />
		<p>Soluciones y asesoramiento en generación de energías a partir fuentes
		sustentables. Venta de materiales e instalación de estaciones de generación
		solar e hidráulica.</p>
		<a class="boton_info" href="/servicios/renovables.html">Más información</a>
	</div>
	<div>
		<header>
			<h2>Telecomunicaciones</h2>
		</header>
		<img src="/imagenes/servicios/telecomunicaciones.jpg" alt="Telecomunicaciones" />
		<p>Proyección y construcción de redes urbanas de telecomunicaciones y fibra
		óptica. Realización de planteles externos de FTTH. Mediciones con OTDR y
		fusiones de fibra óptica.</p>
		<a class="boton_info" href="/servicios/telecomunicaciones.html">Más información</a>
	</div>
	<div>
		<header>
			<h2>Grúa y transporte</h2>
		</header>
		<img src="/imagenes/servicios/grua.jpg" alt="Grúa y transporte" />
		<p>Disponemos de servicio de grúa y transporte. Dos camiones Iveco con grúas
		de 20 y 21 Tnm y semirremolque. Camión Volkswagen con grúa de 10Tnm.</p>
		<a class="boton_info" href="/servicios/grua.html">Más información</a>
	</div>
	<div>
		<header>
			<h2>Construcción, zanjeos y colocación de ductos</h2>
		</header>
		<img src="/imagenes/servicios/construccion.jpg" alt="Construcción, zanjeos y colocación de ductos" />
		<p>Contamos con retroexcavadora JCB 1CX para realizar todo tipo de obras
		subterráneas: eléctricas, de telecomunicaciones y de colocación de ductos.</p>
		<a class="boton_info" href="/servicios/construccion.html">Más información</a>
	</div>
</section>
